

.colorful-text span {
        position: relative;
        top: 20px; /* Adjust the top value to move the text vertically */
        left: 100px; /* Adjust the left value to move the text horizontally */
    }

/* Add the following CSS rules to change the color of each letter */
    .colorful-text span {
        color: red;
    }

    .colorful-text span:nth-child(2) {
        color: blue;
    }

    .colorful-text span:nth-child(3) {
        color: green;
    }

    .colorful-text span:nth-child(4) {
        color: yellow;
    }

    .colorful-text span:nth-child(5) {
        color: orange;
    }

    .colorful-text span:nth-child(6) {
        color: purple;
    }

body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
  }
  
  header {
    background: #eaeaea;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 60rem;
    margin: 0 auto;
    padding: 0 1rem;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: inline-block;
    padding: 0 1.25rem;
  }
  
  li a {
    color: #000;
    text-decoration: none;
  }
  
  li:hover a {
    text-decoration: underline;
  }
  
  /* Mobile Toggle */
  
  .nav-toggle {
    display: none;
    position: absolute;
    right: 3rem;
    top: 2.8rem;
    cursor: pointer;
  }
  
  .nav-toggle img {
    width: 1.5rem;
    transition: 300ms all ease;
  }
  
  .nav-toggle:hover img {
    opacity: 0.6;
  }
  
  .open {
    height: 100vh;
  }
  
  .hidden {
    display: none;
  }
  
  
  /* Mobile */
  @media all and (max-width: 720px) {
    .container {
      flex-direction: column;
      align-items: flex-start;
    }
  
    nav {
      height: 0;
      width: 100%;
      overflow: hidden;
      transition: 250ms height ease-in-out;
    }
  
    li {
      display: block;
      text-align: center;
      padding: 1.5rem 0;
    }
  
    li a {
      font-size: 1.4rem;
    }
  
    .nav-toggle {
      display: block;
    }
  
