.colored-section2 {
  background-color: #0000FF; /* Replace with desired background color */
  padding: 0px;
  position: relative;
   height: 650px; /* Adjust the height of the colored section as needed */
  margin-top: 20px; /* Adjust this value to remove the space */
 display: flex;
  flex-direction: column;
  
  }
.showdate {
  margin-left: 20px;
 text-align: left;
 color: white;
font-size: 18px;
  margin-top: 0px; !important; /* Adjust the margin-top value as needed */
}
.showdate1name {
  margin-left: 20px;
  text-align: left;
 color: white;
font-size: 22px;
  margin-top: 0px; !important; /* Adjust the margin-top value as needed */
}
.tickets {
  
background-color: black; 
color: white; 
  font-size: 25px;
padding: 8px 16px;
  border: 2px solid red;
  margin-top: 0px;
}


.divider {
    border: none;
    background-color: #808080;
    height: 1px; /* Adjust the height of the divider as needed */
    width: 90%; /* This will make the divider span the width of the container */
   margin-bottom: 40px;
}

.white-box {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100px; /* Adjust the height of the white box as needed */
  background-color: white;
  z-index: 1; /* Make sure the white box is placed above other elements */
}


.colorful-text {
        position: fixed;
        top: 15px; /* Adjust the top value to move the text vertically */
        left: 75px; /* Adjust the left value to move the text horizontally */
        font-size: 40px; /* Adjust the font size as desired */
        z-index: 2;
}

.col {
  float: left;
  width: 32.6%;
  padding: 0px;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}

.image4 {
  width: 100vw; /* Takes up the full width of the viewport */
  height: auto;
  margin-top: -5px;
  margin-bottom: -5px;
}


.image8 {
  width: 100vw; /* Takes up the full width of the viewport */
  height: auto;
  margin-top: -5px;
  
}



form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
}

input[type="email"] {
  width: 250px; /* Adjust the width as needed */
  height: 30px;
  padding: 10px;
  margin-bottom: 10px;
}

input[type="submit"] {
  width: auto;
  height: auto;
  padding: 8px 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 0 !important;
  cursor: pointer;
  font-family: Arial, sans-serif; /* Change the font family as desired */
  font-size: 14px; /* Change the font size as desired */
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.fans-drop {
color: #00AFF0;
}
.fans-top {
font-family: Helvetica, Arial, sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 100px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #00AFF0;
}
.merch-text {
font-family: Helvetica, Arial, sans-serif;
  font-size: 23px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 100px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: red;
}
.bio-top {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 100px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.dad-top {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 23px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 100px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: red;
}
.photos-top {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 60px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.terms-top {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 140px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.contact-top {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 80px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.contact-image {
width: 100vw; /* Takes up the full width of the viewport */
  height: auto;
     margin-top: 0px; /* Adjust the top margin value to move the image down */
     margin-left: 0px; /* Adjust the left margin value to move the image to the right */  

   }

.dad-text {
  font-family: Helvetica, Arial, sans-serif;
font-size: 22px;
  margin-left: 40px;
  margin-right: 40px;
  word-spacing: 1px;
}
  
.newsletter-text {
  color: white;
  font-size: 28px;
  margin-top: -30px;
  font-weight: bold;
}
  
.email-field {
  width: 300px;
  height: 80px;
  font-size: 16px;
}

.signup-button {
background-color: black; 
color: white; 
border: none;
  font-size: 22px;
padding: 8px 16px;
}

.contact-email {
font-family: Helvetica, Arial, sans-serif;
  font-size: 25px;
  font-weight: bold;
  margin-top: 120px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
  
.contact-fb {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
 
}
.contact-text {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 22px;
  margin-left: 40px;
  margin-right: 40px;
  word-spacing: 1px;
  text-align: center;
}

.bio-text {
  
font-family: Helvetica, Arial, sans-serif;
font-size: 22px;
  margin-left: 40px;
  margin-right: 40px;
  word-spacing: 1px;
  
}
.terms-text {
  
font-family: Helvetica, Arial, sans-serif;
font-size: 22px;
  margin-to: -40px;
  margin-left: 40px;
  margin-right: 40px;
  word-spacing: 2px;
  
}

.highlight {
  font-weight: bold;
}

.image {
  width: 100vw; /* Takes up the full width of the viewport */
  height: auto;
     margin-top: 30px; /* Adjust the top margin value to move the image down */
     margin-left: 0px; /* Adjust the left margin value to move the image to the right */  

}
.bio-image {
  width: 100vw; /* Takes up the full width of the viewport */
  height: auto;
     margin-top: 0px; /* Adjust the top margin value to move the image down */
     margin-left: 0px; /* Adjust the left margin value to move the image to the right */  

   }
.terms-image {
width: 100vw; /* Takes up the full width of the viewport */
  height: auto;
     margin-top: 0px; /* Adjust the top margin value to move the image down */
     margin-left: 0px; /* Adjust the left margin value to move the image to the right */  

   }
  

.colored-section {
  background-color: #FF0000; /* Replace with desired background color */
  padding: 0px;
  position: relative;
   height: 1000px; /* Adjust the height of the colored section as needed */
  margin-top: 0px; /* Adjust this value to remove the space */
 display: flex;
  flex-direction: column;
  align-items: center;
  }





.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
 margin-top: -20px !important;
}

.social-icons a {
  margin: 10px; /* Adjust the horizontal spacing between icons */
}
.fbimage {
  width: 40px !important; /* Adjust the size of the Facebook icon */
  height: 40px !important;
}

.igimage {
  width: 45px !important; /* Adjust the size of the Instagram icon */
  height: 45px !important;
  margin-left: 10px;
}

.ytimage {
  width: 75px !important; /* Adjust the size of the YouTube icon */
  height: 75px !important;
  margin-left: 0px;
}


.contact-icon {
 color: white;
font-size: 22px;
  margin-top: 0px; !important; /* Adjust the margin-top value as needed */
}
.merch { 
  color: white;
font-size: 22px;
  margin-top: 0px; !important; /* Adjust the margin-top value as needed */
}
.terms {
  color: white;
font-size: 22px;
  margin-top: 0px; !important; /* Adjust the margin-top value as needed */
}

.photos {
  color: white;
  font-size: 22px;
  margin-top: 0px; !important; /* Adjust the margin-top value as needed */
}

.dadjokes {
  color: white;
  font-size: 22px;
  margin-top: 0;
}

.things-to-click {
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}
.shows {
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

.connect {
  font-size: 28px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 50px;
}
  






.colorful-text a {
  color: black; /* Set the desired text color */
  text-decoration: none; /* Remove any underline or decorations */
}

@keyframes glow-animation {
  0% {
    text-shadow: 0 0 5px #ff0000; /* Red */
    
  }
  25% {
    text-shadow: 0 0 5px #00ff00; /* Green */
    
  }
  50% {
    text-shadow: 0 0 5px #0000ff; /* Blue */
   
  }
  75% {
    text-shadow: 0 0 5px #ffff00; /* Yellow */
    
  }
  100% {
    text-shadow: 0 0 5px #ff00ff; /* Magenta */
    
  }
}
.colorful-text span:nth-child(1) {
  animation: glow-animation 2s linear infinite;
}

.colorful-text span:nth-child(2) {
  animation: glow-animation 2s linear infinite -0.5s; /* Add an offset of 0.5s */
}

.colorful-text span:nth-child(3) {
  animation: glow-animation 2s linear infinite -1s; /* Add an offset of 1s */
}
.colorful-text span:nth-child(4) {
  animation: glow-animation 2s linear infinite -1.5s;
}

.colorful-text span:nth-child(5) {
  animation: glow-animation 2s linear infinite -2s; /* Add an offset of 0.5s */
}

.colorful-text span:nth-child(6) {
  animation: glow-animation 2s linear infinite -2.5s; /* Add an offset of 1s */
}

.colorful-text span:nth-child(7) {
  animation: glow-animation 2s linear infinite -3s; /* Add an offset of 1s */
}

.colorful-text span:nth-child(8) {
  animation: glow-animation 2s linear infinite -3.5s; /* Add an offset of 1s */
}



.colorful-text span {
  animation: glow-animation 2s linear infinite;
}


body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;

  }
  
  header {
   background: #ffffff;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 60rem;
    margin: 0 auto;
    padding: 0 1rem;
    z-index: 3;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    
  }
  
  li {
    display: inline-block;
    padding: 0 1.25rem;
  }
  
  li a {
    color: #000;
    text-decoration: none;
  }
  
  li:hover a {
    text-decoration: underline;
  }
  
  /* Mobile Toggle */
  
  .nav-toggle {
    display: none;
    position: absolute;
    left: 6rem;
    top: 4rem;
    cursor: pointer;
    z-index: 3;
  }
  
  .nav-toggle img {
    width: 1.5rem;
    transition: 300ms all ease;
    z-index: 3;
    
  }
  
  .nav-toggle:hover img {
    opacity: 0.6;
    
    
  }
  
  .open {
    height: 100vh;
    
  }
  
  .hidden {
    display: none;
  }
  /* Tablet */
@media all and (max-width: 1024px) {
  .nav-toggle {
    display: block;
    position: fixed;
    left: 1rem;
    top: 1rem;
    cursor: pointer;
    z-index: 3;
  }
}
  
  /* Mobile */
  @media all and (max-width: 720px) {
    .container {
      margin-top: 100px;
      flex-direction: column;
      align-items: flex-start;
      z-index: 3;
      left: 2rem;
    top: 3rem;
    }
  
    nav {
      height: 0;
      width: 100%;
      overflow: hidden;
      transition: 250ms height ease-in-out;
    z-index: 3;
    }

    .colored-section li {
      margin-top: -10px;
      margin-bottom: -10px;
    padding: 0; /* Remove padding for elements within colored section */
  }
  
    li {
      display: block;
      text-align: center;
      padding: 1.5rem 0;
    }
  
    li a {
      font-size: 1.4rem;
    }
  
    .nav-toggle {
      display: block;
      z-index: 3;
      
    }
  
