.image {
  width: 100vw; /* Takes up the full width of the viewport */
  height: auto;
     margin-top: 100px; /* Adjust the top margin value to move the image down */
     margin-left: 0px; /* Adjust the left margin value to move the image to the right */  

   }

.colored-section {
  background-color: #FF0000; /* Replace with desired background color */
  padding: 0px;
  position: relative;
   height: 600px; /* Adjust the height of the colored section as needed */
  margin-top: 100px; /* Adjust this value to remove the space */
 display: flex;
  flex-direction: column;
  align-items: center;
  

}




.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons a {
  margin: 10px; /* Adjust the horizontal spacing between icons */
}
.fbimage {
  width: 40px !important; /* Adjust the size of the Facebook icon */
  height: 40px !important;
}

.igimage {
  width: 45px !important; /* Adjust the size of the Instagram icon */
  height: 45px !important;
  margin-left: 10px;
}

.ytimage {
  width: 75px !important; /* Adjust the size of the YouTube icon */
  height: 75px !important;
  margin-left: 0px;
}


.contact-icon {
 color: white;
font-size: 20px;
  margin-top: 0px; !important; /* Adjust the margin-top value as needed */
}

.photos {
  color: white;
  font-size: 20px;
  margin-top: 0px; !important; /* Adjust the margin-top value as needed */
}


.things-to-click {
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  margin-top: 25px;
}

.connect {
  font-size: 30px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 50px;
}
  




.white-box {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100px; /* Adjust the height of the white box as needed */
  background-color: white;
  z-index: 1; /* Make sure the white box is placed above other elements */
}


.colorful-text {
        position: fixed;
        top: 15px; /* Adjust the top value to move the text vertically */
        left: 90px; /* Adjust the left value to move the text horizontally */
        font-size: 40px; /* Adjust the font size as desired */
        z-index: 2;
}

@keyframes glow-animation {
  0% {
    text-shadow: 0 0 5px #ff0000; /* Red */
    
  }
  25% {
    text-shadow: 0 0 5px #00ff00; /* Green */
    
  }
  50% {
    text-shadow: 0 0 5px #0000ff; /* Blue */
   
  }
  75% {
    text-shadow: 0 0 5px #ffff00; /* Yellow */
    
  }
  100% {
    text-shadow: 0 0 5px #ff00ff; /* Magenta */
    
  }
}
.colorful-text span:nth-child(1) {
  animation: glow-animation 2s linear infinite;
}

.colorful-text span:nth-child(2) {
  animation: glow-animation 2s linear infinite -0.5s; /* Add an offset of 0.5s */
}

.colorful-text span:nth-child(3) {
  animation: glow-animation 2s linear infinite -1s; /* Add an offset of 1s */
}
.colorful-text span:nth-child(4) {
  animation: glow-animation 2s linear infinite -1.5s;
}

.colorful-text span:nth-child(5) {
  animation: glow-animation 2s linear infinite -2s; /* Add an offset of 0.5s */
}

.colorful-text span:nth-child(6) {
  animation: glow-animation 2s linear infinite -2.5s; /* Add an offset of 1s */
}

.colorful-text span:nth-child(7) {
  animation: glow-animation 2s linear infinite -3s; /* Add an offset of 1s */
}

.colorful-text span:nth-child(8) {
  animation: glow-animation 2s linear infinite -3.5s; /* Add an offset of 1s */
}



.colorful-text span {
  animation: glow-animation 2s linear infinite;
}


body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;

  }
  
  header {
   background: #background: #ffffff;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 60rem;
    margin: 0 auto;
    padding: 0 1rem;
    z-index: 3;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    
  }
  
  li {
    display: inline-block;
    padding: 0 1.25rem;
  }
  
  li a {
    color: #000;
    text-decoration: none;
  }
  
  li:hover a {
    text-decoration: underline;
  }
  
  /* Mobile Toggle */
  
  .nav-toggle {
    display: none;
    position: absolute;
    right: 22rem;
    top: 2rem;
    cursor: pointer;
    z-index: 3;
  }
  
  .nav-toggle img {
    width: 1.5rem;
    transition: 300ms all ease;
    z-index: 3;
    
  }
  
  .nav-toggle:hover img {
    opacity: 0.6;
    
    
  }
  
  .open {
    height: 400vh;
    
  }
  
  .hidden {
    display: none;
  }
  
  
  /* Mobile */
  @media all and (max-width: 720px) {
    .container {
      margin-top: 0;
      flex-direction: column;
      align-items: flex-end;
      z-index: 3;
    }
  
    nav {
      margin-top: 100;
      height: 100px;
      width: 100%;
      overflow: hidden;
      transition: 250ms height ease-in-out;
    z-index: 3;
    }
  
    li {
      display: block;
      text-align: center;
      padding: .7rem 0;
    }
  
    li a {
      font-size: 1.2rem;
    }
  
    .nav-toggle {
      display: block;
      z-index: 3;
      
    }
  
